<%= debug @controllers %>

<div>
  <ul>
    <% @controllers.each do |controller| %>
      <li><%= controller.name.gsub("Controller", "") %></li>
      <% controller.action_methods.each do |action| %>
        <li><%= link_to action, "/#{controller.name.gsub("Controller", "").downcase}/#{action}" %></li>
      <% end %>
    <% end %>
  </ul>
</div>

